/*****

HEADER

******/
.heade {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    padding: 0 4.8rem;

    /****
    sticky header
    *****/

    height: 9.6rem;
}

.logo {
    height: 2.2rem;
}


/*****

NAVIGATION

******/

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-btn-cta:link,
.main-nav-link.nav-btn-cta:visited {
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
}

.main-nav-link.nav-btn-cta:hover,
.main-nav-link.nav-btn-cta:active {
    background-color: #cf711f;
}

/*btn mobile*/

.btn-mobile-nav {
    border: 0;
    background: none;
    /*position: relative;*/
    cursor: pointer;
/*hide*/
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;

}

/*
<ion-icon class="icon-mobile-nav" 
name="menu-outline"></ion-icon>
<ion-icon class="icon-mobile-nav" 
 name="close-outline"></ion-icon>
*/
.icon-mobile-nav[name="close-outline"]{
    display: none;

}


/****

HERO

******/
.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;

}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;

    /*
animation    
    */

}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    /*background-color: #e67e22;*/
    /*color: #fff;*/
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;

    /*tansition*/
    transition: all 0.5s;

    /*buttom sign up*/
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;

}

.btn--full:hover,
.btn--full:active {
    background-color: #b8651b;

}


.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #3B3B3B;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fff;
    /*border: 3px solid #333;*/
    box-shadow: inset 0 0 0 3px #e67e22;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 6.4rem;
}

.delivered-imgs {
    display: flex;

}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;

}

.delivered-imgs img:last-child {
    margin: 0;
}


.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.span-deliv {
    color: #cf711f;
    font-weight: 700;
}


.image-hero {
    width: 100%;

}

/***********

FEATUrED SECTION

********/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
    margin-bottom: 2.4rem;
}


.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}



/*****

HOW IT WOKS SECTION 

******/

.section-how {
    padding: 9.6rem 0;
    background-color: #fff;

}

.step-text-box {
    align-items: center;
}

.step-number {
    color: #ced4da;
    font-size: 8.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.step-img-box::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;

}

.step-img-box::after {
    width: 48%;
    padding-bottom: 48%;
    background-color: #fae5d3;
}

.step-img,
.step-img-2,
.step-img-3 {
    width: 36%;
    z-index: 10;
}

/***Scoll animated js****/

.js-sroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-sroll.scrolled {
    opacity: 1;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/********

SECTION-MEALS

**********/

/**.container
}**/

.section-meal {
    padding: 9.6rem 0;
    background-color: #fff;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    overflow: hidden;
    transition: all 1s ease;
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal:hover {
    /*transform: translateY(-1.2rem);*/
    transform: scale(1.02);
    box-shadow: 0 3.2rem 6.4rem rgba(63, 43, 43, 0.098);
}

.meal-span {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.3rem;
}


.tag,
.tag-2,
.tag-3 {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 100px;
}

.tag {
    background-color: #51cf66;
}

.tag-2 {
    background-color: #94d82d;

}

.tag-3 {
    background-color: #ffd43b;

}

.meal-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}

.meal-alts {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.6rem;
}

.meal-alt {
    font-size: 1.8rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-img {
    width: 100%;
}

.list {
    line-height: 1.8;
}

.meal-icon-item {
    height: 3rem;
    width: 3rem;
    color: #e67e22;
}

.animated-text {
    transition: all 0.3s;
}

.animated-text:hover {
    transform: translateY(-1rem);
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 6.4rem;

}


/********************

TESTIMONIALS SECTION

********************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}


.testimonials-contain {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;

}

.testimonials-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonials-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonials-name {
    font-size: 1.6rem;
    color: #777;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;

    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}


/*************

Section Pricing

**************/

.section-pricing {
    padding: 9.6rem 0 8rem 0;
}

.pricing-plan {
    border-radius: 12px;
    width: 75%;
}

.pricing-plan--starter {
    padding: 4.6rem;
    justify-self: end;
    border: 3px solid #fdf2e9;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    font-size: 1.4rem;
    font-weight: 700;
    top: 6%;
    right: -18%;
    padding: 0.8rem 8rem;
    text-transform: uppercase;
    background-color: #ffd43b;
    color: #333;
    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;

}

.plan-price {
    font-size: 6.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-description {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 6.4rem;

}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;

}

/****.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}******/

.feature-icon {
    color: #e67e22;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;

}

.feature-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

/*************

Section CTA

**************/

.section-cta {
    padding: 4.8rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
    border-radius: 12px;
    background-image: linear-gradient(to right bottom,
            #eb984e, #e67e22);

    /*temp*/
    overflow: hidden;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta .heading-secondary {
    color: #45260a;
    margin-bottom: 3rem !important;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box {
    background-image:
        linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),
        url(../img/eating.jpg);
    background-size: cover;
    opacity: t;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    justify-content: space-between;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;

}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    background-color: #fdf2e9;
    color: inherit;
    border-radius: 9px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 241, 232, 0.5);
}

/*************

FOOTER

**************/

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;


}

.footer-link:link,
.footer-link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: #767676;
    transition: all .3s;
}

.footer-link:hover,
.footer-link:active {
    color: #000;

}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;

}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}